.button {
    background-color: $button-bg;
    border: none;
    color: $button-text;
    cursor: pointer;
    font-size: $base-font-size;
    margin-bottom: $space;
    line-height: 1.2;
    padding: $button-padding;
    text-transform: uppercase;
}

.button--secondary {
    background-color: $button-secondary-bg;
    border: 1px solid $button-secondary-border;
    color: $button-secondary-text;
}

.button--link {
    display: inline-block;
    text-decoration: none;
}

.button--pill {
    background-color: transparent;
    border: 1px solid $button-pill-color;
    color: $button-pill-color;
    padding: .3rem .8rem;
    margin: 0 ($space / 2) 0 0;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.button--link-text {
    background-color: transparent;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    text-transform: none;
}